.job-posting {
  display: flex;
  width: 100%;
}

.job-posting-container {
  margin-left: 270px;
  padding: 0px;
  background: #f8fafc;
  min-height: 100vh;
}

.divider {
  width: flex;
  border: none;
  height: 1px;
  background: #cbd5e1;
  margin: 10px 0 20px 0;
}

/* ✅ FIX UTAMA */
.content-wrapper {
  width: calc(100% - 260px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* MAIN CONTENT */
.job-posting-main {
  flex: 1;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.job-posting-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.job-posting-header h2 {
  font-size: 28px;
  font-weight: 700;
  color: #2563eb;
}

.job-posting-header p {
  font-size: 12px;
  font-weight: 200;
  color: #64748b;
}

/* BUTTON */
.create-job-btn {
  background: #3b38f5;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.create-job-btn:hover {
  background: #2563eb;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .content-wrapper {
    margin-left: 0;
    width: 100%;
  }
}
